cl{padding: 40px 120px;}
p{font-size: 30;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: blue;
text-align: center;
}
h1{ color:brown;
align-items: center;
text-align: center;
}
img{padding: 0px  30px 30px 30px;
text-align: center;
width: 400px
;height: 350px;
}